* {
    background: rgb(226, 211, 211);
    gap: 1px;
}
.title {
    font-size: 50px;
    text-align: center;
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
    padding: 0;
    color: rgb(73, 28, 82);
    margin-top: 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), minmax(0, 1fr));
    grid-template-rows: repeat(var(--grid-size), minmax(1fr, 0));
    gap: 0;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.72); 
}
.button {
    height: 50px;
    width: 400px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.72); 
    display: flex;
    justify-content: space-around;
}
.buttons {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    box-shadow: inset -1px 3px 8px 5px rgb(185, 164, 164), 2px 5px 16px 0px #a9afb6, 5px 5px 15px 5px rgba(0,0,0,0);
    font-weight: bold;
    color: rgb(73, 28, 82);
    border-radius: 5px;
}
.buttons:hover {
    transform: scale(1.2);
}
.grids {
    border:0.5px solid rgb(197, 194, 194);
}